/**************/
/*** LAYOUT ***/
/**************/

/* Feed container */
#sb_instagram {
  float: left;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sb_instagram:after{
  content: "";
  display: table;
  clear: both;
}

/*********************/
/*** STYLE OPTIONS ***/
/*********************/
#sb_instagram.sbi_fixed_height{
  overflow: hidden;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sb_instagram #sbi_images{
  width: 100%;
  float: left;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Items */
#sb_instagram #sbi_images .sbi_item{
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;

  padding: inherit !important;
  margin: 0 !important;
  text-decoration: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Cols */
#sb_instagram.sbi_col_1 #sbi_images .sbi_item{ width: 100%; }
#sb_instagram.sbi_col_2 #sbi_images .sbi_item{ width: 50%; }
#sb_instagram.sbi_col_3 #sbi_images .sbi_item{ width: 33.33%; }
#sb_instagram.sbi_col_4 #sbi_images .sbi_item{ width: 25%; }
#sb_instagram.sbi_col_5 #sbi_images .sbi_item{ width: 20%; }
#sb_instagram.sbi_col_6 #sbi_images .sbi_item{ width: 16.66%; }
#sb_instagram.sbi_col_7 #sbi_images .sbi_item{ width: 14.28%; }
#sb_instagram.sbi_col_8 #sbi_images .sbi_item{ width: 12.5%; }
#sb_instagram.sbi_col_9 #sbi_images .sbi_item{ width: 11.11%; }
#sb_instagram.sbi_col_10 #sbi_images .sbi_item{ width: 10%; }

/* Photos */
#sb_instagram .sbi_photo_wrap{
  position: relative;
}
#sb_instagram .sbi_photo{
  display: block;
}
#sb_instagram img{
  display: block;
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100% !important;
}
#sb_instagram .sbi_link{
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;

  width: 100%;
  padding: 10px 0;
  background: rgba(0,0,0,0.5);
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 1.1;
}
#sb_instagram .sbi_link a{
  padding: 0 6px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  line-height: 1.1;

  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
#sb_instagram .sbi_link .sbi_lightbox_link{
  padding-bottom: 5px;
}
#sb_instagram .sbi_link a:hover,
#sb_instagram .sbi_link a:focus{
  text-decoration: underline;
}
#sb_instagram .sbi_photo_wrap:hover .sbi_link,
#sb_instagram .sbi_photo_wrap:focus .sbi_link{
  display: block;
}

/* Button */
#sb_instagram #sbi_load{
  display: none;
  float: left;
  clear: both;
  width: 100%;
  text-align: center;
}
#sb_instagram #sbi_load a{
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;

  padding: 4px 14px;
  margin: 0 auto;
  background: #333;
  color: #eee;
  border: none;
  color: #fff;
  text-decoration: none;
  font-size: 13px;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sb_instagram #sbi_load a:hover{
  background: #666;
}

/* Media queries */
@media all and (max-width: 480px){
  #sb_instagram.sbi_col_3 #sbi_images .sbi_item,
  #sb_instagram.sbi_col_4 #sbi_images .sbi_item,
  #sb_instagram.sbi_col_5 #sbi_images .sbi_item,
  #sb_instagram.sbi_col_6 #sbi_images .sbi_item,
  #sb_instagram.sbi_col_7 #sbi_images .sbi_item,
  #sb_instagram.sbi_col_8 #sbi_images .sbi_item,
  #sb_instagram.sbi_col_9 #sbi_images .sbi_item,
  #sb_instagram.sbi_col_10 #sbi_images .sbi_item{
    width: 50%;
  }
}